
body{
    width:50%;
    margin:0 auto; 
    font-family: "PT Sans Narrow";
    padding: 50px; 
    font-size: 1.3em; 
    line-height:1.5em ;
}

h1{
    font-family:"Jacquarda Bastarda 9 Charted", serif;
    color:blue;
    font-size: 4em;
}

p{
    color:rgb(255, 0, 247);
}


a{
    color: blue; 
    text-decoration: none;
}

a:hover{
    color: white; 
    background-color: blue;
}


.pagenav{
    font-size: 2em;
    font-family:"Jacquarda Bastarda 9 Charted", serif;  
}

.greenback{
    background-color: rgb(253, 245, 172);
    padding: 10px;
    margin-top: 2em; 
    margin-bottom: 2em;  
}

.greenback:hover{
    background-color: transparent;
    box-shadow: 0 0 100px rgba(255, 0, 208, 0.5);
}

::selection{
    background-color:rgb(111, 255, 168);
}

.right-align{
    font-family:"Jacquarda Bastarda 9 Charted", serif;
    font-size: 2em; 
    text-align: right; 
}

b{
    font-size:1.3em; 
    line-height: 1.35em; 
    font-family: "PT Serif", serif;
    font-weight: 400; 
    display: block; 
    margin-top: 100px; 
}

.handmade{
    font-family:"Jacquarda Bastarda 9 Charted", serif;
    color:rgb(255, 0, 247); 
} 

.handmade:hover{
    font-size:2em; 
}

.first{
    padding-top: 20px; 
    color: rgb(255, 0, 247); 
    font-family: "Jacquarda Bastarda 9 Charted", serif;
    font-size: 1.3em; 
    line-height:1.5em; 
}