.homeicon{
    background-color:  rgb(223, 43, 43); 
    width: 35px; 
    height: 50px; 
    position: absolute; 
    z-index: 100; 
    top:20px; 
    left: 20px; 
    border-style: dotted;
    border-width: 2px;
    border-color:white;

}

.door-knob{
    position: absolute; 
    width:8px; 
    height:8px; 
    background-color: white;
    border-radius: 50%;
    right:2px;
    top:20px;
}

.image1{
    width:40%; 
    position:absolute; 
    left:20px; 
    bottom:20px; 
}

.image2{
    position:absolute; 
    right:20px; 
    bottom:20px;
}

a{
    color:black; 
}

p{
    font-size:16px;
}


.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:10; 
}

.wrapper3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:20; 
}